#{$all-button-inputs},
button, .btn {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  // border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $secondary-font-family;
  font-size: 0.8125em;
  font-weight: 600;
  line-height: 1;
  outline:none;
  padding: 1.2em 1.5em;
  text-transform:uppercase;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.muted {
    @include appearance(none);
    text-transform:uppercase;
    background:none;
    color: $action-color;
  }
  &.bordered {
    background:transparent;
    border: 1px solid #fff;
  }
  &.underline {
    text-decoration:underline;
    padding:1em;
    background:transparent;
    letter-spacing:1px;
  }
  &.large {
    padding: 2em 2.2em;
  }
}
