@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
$max-width: em(1140);

// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);
