body {
  background-color: #fff;
}

.main-slide {
  height:100vh;
  overflow:hidden;
  &:before {
    content:"";
    overflow:hidden;
    background: url(image_path('hero.jpg')) no-repeat top center;
    background-size:cover;

    @include transition(transform 1s linear);
    position:absolute;
    right:0;
    left:0;
    height:100vh;
    z-index:-1;
    @include hidpi {
      background: url(image_path('hero@2x.jpg'));
    }
  }

  .slider .container {
      margin-top: -100px;
  }
  &--home {


    .slider {

    }
  }
  &--villa {
    background-image: url(image_path('villa-hero.jpg'));
    background-size:cover;
  }

}
.header {
  height:100px;
  @include display(flex);
  background:#fff;
  @include align-items(center);
  padding-left:30px;
  padding-right:30px;

  .logo {
    text-indent:-999em;
    background: url(image_path('logo.svg')) no-repeat;
    height:24px;
    width:162px;
    background-size:100%;
    margin:0;
    margin-top:-10px;

    a { display:block; }

  }
  .menu {
    @include display(flex);
    @include flex-grow(1);
    height:100%;
    margin-left:30px;


    li {
      height:100%;
      text-transform:uppercase;
      letter-spacing:1px;
      font-family: $secondary-font-family;
      font-size: 13px;

      a {
        height: 100%;
        padding-left:25px;
        padding-right: 25px;
        color:$link-secondary;
        @include display(flex);
        @include align-items(center);

        &:hover {
          background: $light-gray;
        }
      }
    }
  }
}

.slider {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height:100%;
  .container {
    text-align:center;
  }
  .title {
    color: #fff;
  }
  button {
    @include flex(1);
  }
}


.features {
  display:none;
  padding:50px;
  ul {
    @include display(flex);
    @include align-items(center);
    li {
      @include flex(1);

      i { color: $blue; margin-right: 5px; }
    }
  }
}

.masonry {
  margin-bottom:-100px;
  margin-top:-100px;
  .container {

  }
  .localarea {
    background:url(image_path('lagomar.jpg')) no-repeat;
    @include hidpi {
      background-image: url(image_path('lagomar@2x.jpg'));
    }
    background-size:cover;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex(1);
    text-align:center;
    .masonry-box {
      width: 50%;
      background:#fff;
      padding: 30px;
      h2 { color: $blue-gray; }
    }


  }
  .split-50 {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-content(stretch);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include flex-direction(row);
  }
  .masonry-wrapper {
    @include display(flex);
    @include flex(1);
    @include align-self(auto);
  }
  .masonry-wrapper-second {
    @include display(flex);
    @include flex-direction( row);
    @include flex-wrap( wrap);
    @include justify-content( flex-start);
    @include align-content( stretch);
    @include align-items( flex-start);
    .masonry-box {
      order: 0;
      flex: 0 1 50%;
      align-self: stretch;

      &:nth-child(3) {
        flex: 0 1 100%;
      }
    }
  }
  .masonry-box {
    &--arrival {
      background: url(image_path('arrival.jpg')) no-repeat;
      background-size:cover;
      @include display(flex);
      @include align-items(flex-end);
      padding: 10px !important;
      height:318px;

      @include hidpi {
        background-image: url(image_path('arrival@2x.jpg'));
      }
      h2 {
        padding:5px;
        background: $blue;
        color: #fff;
        margin:0;
        font-family: $base-font-family;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    &--calendar {
      background: #027C8C;
      padding:40px;
      @include align-items(center);
      @include justify-content(center);
      @include display(flex);
      .inner {

      }
      h2 {
        @include flex(1);
        color: #fff;
      }
      button {
        @include display(flex);
        @include flex-grow(1);
        @include align-items(center);
        padding-left:0;
        color: #fff;
      }
      i {
        font-size: 18px;
      }
    }
    &--guestbook {
      background: $light-gray;
      padding: 50px;
      @include display(flex);
      @include flex-direction(column);

      blockquote {
        text-align:center;
      }
    }
  }

}


.bottom-cta {
  background: $blue;
  padding:200px 0 100px 0;
  text-align:center;
  .container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
  h2 {
    color: #fff;
    margin:0;
  }
}

footer {
  background: $light-gray;
  .container {
    padding:80px 0;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    text-align:center;
  }
  .footer-links {
    @include display(flex);
    text-align:center;
    li {
      padding: 0 20px;
      a { color: $link-secondary; }
    }
  }
  .logo {
    background: url(image_path('logo.svg')) no-repeat;
    height:35px;
    width:100%;
    margin-bottom:50px;
    text-indent:-999em;
    background-size:100% 100%;
  }
  .copyright {
    background: #fff;
    .container {
      padding:20px;
      @include flex-direction(row);
      @include align-items(center);
      @include justify-content(center);
      ul {
        @include display(flex);
        @include flex(1);
        li {
          @include flex(1);

         }
      }
    }
  }
}
