/**
 * Site header
 */
.container {
  @include outer-container;
  padding-left:20px;
  padding-right:20px;
  @include media($mobile) {
    padding-left: 30px;
    padding-right:30px;
  }
}

.split-2 {

  @include display(flex);

  &--reverse {
    .summary {
      margin-left: 30px;
      margin-right:0;
    }
    .gallery {
      order:-1;
    }
  }
  .summary, .gallery {
    @include flex(1);
  }
  .summary {
    margin-right:30px;
  }
  .gallery {
    @include flex(0 1 70%);
  }
}
.col-5 {
  position:relative;
  @include flex-direction(column);
  @include display(flex);

  .summary {
    width:60%;
  }
  &.center {
    @include align-items(center);
  }
}

.page-content {

  h2 {
    font-weight:bold;
    font-size: 28px;
    color: $dark-gray;
  }

  .gallery {
    display:block;
    &__collection {
      @include display(flex);
      @include flex-wrap(wrap);
      @include align-items(center);
      @include justify-content(center);
      @include align-content(stretch);

      &--three-up {
        .gallery__image {
          @include flex(0 1 24%);
          &:first-child {
            @include flex(0 1 100%);
          }
        }
      }
    }
    &__image {
      @include flex(0 1 32.333%);
      margin: 0.5%;
      > img {
        @include display(flex);
      }
    }


  }
  article {
    margin-bottom: 100px;
    // &:first-child {
    //   margin-top: -140px;
    //   .summary {
    //     background: #fff;
    //     padding:80px;
    //     width:70%;
    //
    //   }
    // }
    &:first-child {
      margin-top:100px;
    }
    p {
      &.last {
        // margin-bottom: 80px;
      }
    }
  }
}
