---
layout: default
---
.main-slide.main-slide--home
  .header.container
    %h1.logo
      %a{:href => "/"} LanzaHomes
    %ul.menu
      %li
        %a{:href => "/villa-maxim.html"} Villa Maxim
      %li
        %a{:href => "/book"} Out &amp; About
      %li
        %a{:href => "/book"} Pricing
      %li
        %a{:href => "/book"} Guestbook
      %li
        %a{:href => "/book"} Contact

    %ul.book
      %li
        %a.btn{:href => "/book"} Book Now

  .slider
    .container
      %h1.title.large-title
        Lanzarote holiday villa
        %br uniquely tailored to you
      %a.btn.bordered.large{:href => "/villa-maxim.html"} Find out why


.features
  .container
    %ul
      %li
        %i.icon-check
        Relaxation guaranteed
      %li
        %i.icon-check
        Your own personal house
      %li
        %i.icon-check
        Beautiful excursions
      %li
        %i.icon-check
        Island paradise beaches

%section.masonry
  .container
    .split-50
      .masonry-wrapper.localarea
        .masonry-box
          %h2.title-bold Visit the local area around you
          %button.muted Explore
      .masonry-wrapper
        .masonry-wrapper-second
          %article.masonry-box.masonry-box--arrival
            %h2 Your Arrival
          %article.masonry-box.masonry-box--calendar
            .inner
              %h2 The Booking Calendar
              %button.muted
                Check availability
                %i.icon-arrow-right
          %article.masonry-box.masonry-box--guestbook
            %blockquote “The villa is extremely comfortable and homely. The photos do not do it justice. It has a lovely pool and separate terrace. Nice and quiet with local restaurants.”
            %button.muted Read more comments

%section.bottom-cta
  .container
    %h2 Unforgettable lanzarote holiday, uniquely tailored to you.
    %button.underline Book Now

%footer
  .container
    .logo
      %a{:href => "/book"} LanzaHomes
    %ul.footer-links
      %li
        %a{:href => "/book"} About LanzaHomes
      %li
        %a{:href => "/book"} Contact
      %li
        %a{:href => "/book"} FAQs
      %li
        %a{:href => "/book"} T&amp;CS
      %li
        %a{:href => "/book"} Privacy
      %li
        %a{:href => "/book"} Contact
  .copyright
    .container
      %ul
        %li Call (+44) 0207 632 7567
        %li © Copyright 2016.
        %li Email info@lanzahomes.com
