---
layout: default
---
.main-slide
  .header.container
    %h1.logo
      %a{:href => "/"} LanzaHomes
    %ul.menu
      %li
        %a{:href => "/villa-maxim.html"} Villa Maxim
      %li
        %a{:href => "/book"} Out &amp; About
      %li
        %a{:href => "/book"} Pricing
      %li
        %a{:href => "/book"} Guestbook
      %li
        %a{:href => "/book"} Contact

    %ul.book
      %li
        %a.btn{:href => "/book"} Book Now

  .slider
    .container
      %h1.title.large-title
        An unforgettable experience

%section.page-content
  .container
    %article.col-5.center
      .inner
        %h2.main-title Kitchen &amp; Lounge
        %p The top floor of the villa is dedicated to the lounge, kitchen/diner, powder room & large terrace.
        %p The sun filled lounge has a large picture window, double patio doors leading on to the large, partially covered terrace and a sliding window, making the most of the wonderful scenery. 
        %p.last The lounge has been decorated with comfortable sofas, Mexican furniture, all complemented by Moroccan vases & accessories.
      .gallery
        .gallery__collection.gallery__collection--three-up
          .gallery__image
            %img(src="{{ 'lagomar.jpg' | asset_path }}")
          .gallery__image
            %img(src="{{ 'lagomar.jpg' | asset_path }}")
          .gallery__image
            %img(src="{{ 'lagomar.jpg' | asset_path }}")
          .gallery__image
            %img(src="{{ 'lagomar.jpg' | asset_path }}")


    %article.col-5.center
      .inner
        %h2.main-title Kitchen &amp; Lounge
        %p The top floor of the villa is dedicated to the lounge, kitchen/diner, powder room & large terrace.
        %p The sun filled lounge has a large picture window, double patio doors leading on to the large, partially covered terrace and a sliding window, making the most of the wonderful scenery. 
        %p.last The lounge has been decorated with comfortable sofas, Mexican furniture, all complemented by Moroccan vases & accessories.
    .gallery
      .gallery__collection.gallery__collection--three-up
        .gallery__image
          %img(src="{{ 'lagomar.jpg' | asset_path }}")
        .gallery__image
          %img(src="{{ 'lagomar.jpg' | asset_path }}")
        .gallery__image
          %img(src="{{ 'lagomar.jpg' | asset_path }}")
        .gallery__image
          %img(src="{{ 'lagomar.jpg' | asset_path }}")
